<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="gdtDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <gdtDB.Properties.Settings>
            <setting name="ParseSW4Templates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteMissingGdf" serializeAs="String">
                <value>False</value>
            </setting>
        </gdtDB.Properties.Settings>
    </userSettings>
</configuration>
