share/assetconvert
radiant/autosave_backup
gdtdb/

*.exe
*.dll
*.mkv
*.tif
*.xmodel_bin
*.XMODEL_BIN
*.xanim_bin
*.XANIM_BIN
*.errlog
*.d3dbsp
*.hkt
*.lin
*.bak
*.sabl
*.xpak
*.gdb
*.dmp
*.tmp
*.db
*.cgp
*.bin
*.lvi
*.led
*.siege_anim_source
*.sabs
*.ff
*.fd
*.exr

steam_appid.txt