share/assetconvert
steam_appid.txt

# Temp files
radiant/autosave_backup
*.bak
*.tmp
*.cache
*.dmp

# Runnable & binaries
*.exe
*.dll
*.bin

# Compiled map files
*.xpak
*.d3dbsp
*.gdb
*.cgp
*.hkt
*.ff
*.lin
*.led
usermaps/*/zone/
usermaps/*/zone_source/*/
usermaps/**/sound/zone/*

# Large file resources
*.db
*.db-shm
*.db-wal
*.mkv
*.wav
*.tif
*.tiff
*.efx
*.semodel
*.mel
*.xmodel_bin
*.XMODEL_BIN
*.xmodel_export
*.XMODEL_EXPORT
*.xanim_bin
*.XANIM_BIN
*.lvi
*.sabl
*.sabs
*.siege_anim_source
*.fd
*.hdr
*.exr
*.png
*.jpg
*.jpeg
*.gif
*.xcf
*.psd

# Logs
*.errlog
*.log
*.gltn

# additional tools
.extract_assets