share/assetconvert
steam_appid.txt

# Temp files
radiant/autosave_backup
*.bak
*.tmp
*.cache
*.dmp

# Runnable & binaries
*.exe
*.dll
*.bin

# Compiled map files
*.xpak
*.d3dbsp
*.gdb
*.cgp
*.hkt
*.ff
*.lin
*.led

# Large file resources
*.db
*.mkv
*.tif
*.xmodel_bin
*.XMODEL_BIN
*.xanim_bin
*.XANIM_BIN
*.lvi
*.sabl
*.sabs
*.siege_anim_source
*.fd
*.exr
*ximage*.png

# Logs
*.errlog
*.log
*.gltn